/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  
.button {
  color: $dullblue;
}

.button-arrow:after {
	content: '';
	background: url(../assets/button-arrow.png) no-repeat;
	display: inline-block;
	margin-left: 10px;
	height: 9px;
	width: 5px;
	transition-timing-function: ease;
	transition-duration: .25s;
}

.button-arrow:hover:after {
	margin-left: 15px
}

.button-arrow {
	a {
		
	}
}