/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  
.button {
  color: $dullblue;
}

.button-arrow:after {
	content: '';
	display: inline-block;
	transition-timing-function: ease;
	transition-duration: .25s;
}

.right-arrow:after {
	margin-left: 10px;
	height: 9px;
	width: 5px;
	background: url(../assets/button-arrow.png) no-repeat;
}

.down-arrow:after {
	margin-left: 8px;
	height: 6px;
	width: 9px;
	background: url(../assets/down-arrow-red.png) no-repeat;
}

.right-arrow:hover:after {
	margin-left: 15px
}

.button-arrow {
	a {
		
	}
}

.prev-button {
	padding: 0;
	margin: 0;
	margin-top: 4px;
	transition-timing-function: ease;
	transition-duration: .25s;
	
	&:before {
		content: '';
		display: inline-block;
		margin-right: 3px;
		padding: 5px;
		height: 9px;
		width: 6px;
		background: url(../assets/back-arrow-red.png) no-repeat;
	}
	
	&:hover {
		margin-left: -5px;
		margin-right: 5px;
	}
}

.next-button {
	padding: 0;
	margin: 0;
	margin-top: 4px;
	transition-timing-function: ease;
	transition-duration: .25s;
	
	&:after {
		content: '';
		display: inline-block;
		background: url(../assets/button-arrow.png) no-repeat;
		margin-left: 11px;
		padding: 5px;
		height: 9px;
		width: 6px;
	}
	
	&:hover {
		margin-right: -5px;
		margin-left: 5px;
	}
}