/* CLEARING
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
  
  
 

  
  
 /* GENERAL POSITIONING
–––––––––––––––––––––––––––––––––––––––––––––––––– */   
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.split-fifty {
	
	@media (min-width: 900px) {
		width: 50%;
		height: inherit;
	}
}

.split-thirty {
	margin-left: -15px;
	
	@media (min-width: 900px) {
		width: 45%;
	}
	
	@media (min-width: 1085px) {
		width: 35%;
	}
	
	@media (min-width: 1700px) {
		width: 25%;
	}
}

.split-seventy {
	@media (min-width: 900px) {
		width: 55%;
	}
	
	@media (min-width: 1085px) {
		width: 65%;
	}
	
	@media (min-width: 1700px) {
		width: 75%;
	}
}