/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
  
  
  
  
header {
  position: fixed;
  bottom: 0;
}

.header-logo {
	@media (min-width: 900px){
	  float: right;
	 }
}

.header-nav {
	
  @media (min-width: 900px){
	  float: left;
	 }
}
  
  
  
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.story-content {
	width: 100%;
	padding: 30px 30px 30px 40px;
	
	@media (min-width: 600px) {
		padding: 50px;
		margin: 0 auto;
		width: 80%;
	}
	
	@media (min-width: 900px) {
		width: 40%;
		margin: 0;
	}
	
}

.split-fifty {
	
	@media (min-width: 900px) {
		width: 50%;
		height: inherit;
	}
}