.hero {
	height: 50vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
	
	@media (min-width: 900px) {
		height: 90vh;
		width: 50%;
		float: right;
	}
}

.hero-one {
	background-image: url(../assets/temp-hero.png);
}

.hero-two {
	background-image: url(../assets/bsm-new-harvestsnaps.jpg);
}

.hero-three {
	background-image: url(../assets/temp-hero.png);
}