 /* PRIMARY NAVIGATION
–––––––––––––––––––––––––––––––––––––––––––––––––– */ 

nav {
	margin-top: 50px;
	text-transform: uppercase;
	font-size: 1.2em;
	
	@media (min-width: 900px) {
		margin-top: 0;
		float: left;
	}
	
	a {
		color: white;
		
		&:hover {
			color: darken($red, 30%);
		}
	}
	
	li {
		text-align: right;
		letter-spacing: .1em;
		
		@media (min-width: 900px) {
			display: inline;
			margin: 0 20px;
			font-size: .85em;
		}
		
	}
}

.open {
	margin-bottom: 0;
}

.nav-menu {
	
	@media (min-width: 900px) {
		text-align: center;
	}
	
}
