/* OUR WORK - HERO
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.work-hero {
	height: 50vh;
	width: 100%;
	background-image: url(../assets/bsm-new-harvestsnaps.jpg);
	background-position: center center;
	background-size: cover;
	z-index: 1;
	
	@media (min-width: 900px) {
		float: right;
		margin-top: 0;
		height: 94vh;
		width: 55%;
	}
	
	@media (min-width: 1085px) {
		width: 65%;
	}
	
	@media (min-width: 1700px) {
		width: 75%;
	}
}

/* OUR WORK - PROJECT LIST
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.project-list {
	width: 100%;
	
	
	@media (min-width: 900px) {
		float: left;
		padding-bottom: 60px;
		padding-top: 100px;
		width: 45%;
		height: 100vh;
		overflow: scroll;
	}
	
	@media (min-width: 1085px) {
		width: 35%;
	}
	
	@media (min-width: 1700px) {
		width: 25%;
	}
}

.project-item {
	position: relative;
	padding: 25px 35px;
	margin-bottom: 3px;
	width: 100%;
	height: 75px;
	background-color: $lightgray;
	
	&:hover {
		background-color: darken($lightgray, 5%);
	}
	
	h3 {
		margin-right: 20px;
	}
	
	h4 {
		margin-top: 4px;
	}
}

.stacked { 					/* WHEN H3 & H4 NEED TO STACK ON MOBILE */
	padding-top: 15px;
	
	h3 {
		margin-bottom: 0;
	}
	
	.item-arrow {
		margin-top: 18px;
	}
	
	@media (min-width: 390px) {
		padding: 25px 35px;
		
		.item-arrow {
			margin-top: 8px;
		}
	}
}

.link-span {				/* ALLOWS THE WHOLE DIV TO BE CLICKABLE */
	position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;
}

.item-arrow {
	position: absolute;
	right: 35px;
	margin-top: 8px;
}

.item-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 75px;
	width: 10px;
}