/* OUR WORK - PROJECT TAG COLORS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.packaging-background {
	background-color: $purple;
}

.packaging-text {
	color: $purple;
}

.environmental-background {
	background-color: $dullblue;
}

.environmental-text {
	color: $dullblue;
}

.branding-background {
	background-color: $orange;
}

.branding-text {
	color: $orange;
}

.logo-background {
	background-color: $red;
}

.logo-text {
	color: $red;
}

.interactive-background {
	background-color: $yellow;
}

.interactive-text {
	color: $yellow;
}