@charset "UTF-8";
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }
  .one.column,
  .one.columns {
    width: 4.66666666667%; }
  .two.columns {
    width: 13.3333333333%; }
  .three.columns {
    width: 22%; }
  .four.columns {
    width: 30.6666666667%; }
  .five.columns {
    width: 39.3333333333%; }
  .six.columns {
    width: 48%; }
  .seven.columns {
    width: 56.6666666667%; }
  .eight.columns {
    width: 65.3333333333%; }
  .nine.columns {
    width: 74.0%; }
  .ten.columns {
    width: 82.6666666667%; }
  .eleven.columns {
    width: 91.3333333333%; }
  .twelve.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.column {
    width: 30.6666666667%; }
  .two-thirds.column {
    width: 65.3333333333%; }
  .one-half.column {
    width: 48%; }
  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%; }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }

/* Base Styles: typography, links, body
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  margin-bottom: 120px;
  padding: 0;
  font-size: 1.4em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.8;
  font-weight: 400;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: #58595b;
  background-color: white; }

img {
  max-width: 100%; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 300; }

h1 {
  font-size: 3.0rem;
  line-height: 1.2; }

h2 {
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: .2em;
  text-transform: uppercase; }

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem; }

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0; }

p {
  margin-top: 30px; }

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB;
  text-decoration: none; }

a:hover {
  color: #0FA0CE; }

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: none; }

ol {
  list-style: decimal inside; }

ol, ul {
  padding-left: 0;
  margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

header {
  position: fixed;
  bottom: 0; }

@media (min-width: 900px) {
  .header-logo {
    float: right; } }

@media (min-width: 900px) {
  .header-nav {
    float: left; } }

.float-left {
  float: left; }

.float-right {
  float: right; }

.story-content {
  width: 100%;
  padding: 30px 30px 30px 40px; }
  @media (min-width: 600px) {
    .story-content {
      padding: 50px;
      margin: 0 auto;
      width: 80%; } }
  @media (min-width: 900px) {
    .story-content {
      width: 40%;
      margin: 0; } }

@media (min-width: 900px) {
  .split-fifty {
    width: 50%;
    height: inherit; } }

#nav-primary {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 1.2em; }
  @media (min-width: 900px) {
    #nav-primary {
      margin-top: -4px; } }
  #nav-primary a {
    color: white; }
  #nav-primary li {
    text-align: right;
    letter-spacing: .1em; }
    @media (min-width: 900px) {
      #nav-primary li {
        display: inline;
        margin: 10px;
        font-size: 1em; } }
  #nav-primary li:last-child {
    margin-right: 0; }

header {
  z-index: 1;
  margin-bottom: -120px;
  padding: 24px 30px 0 30px;
  height: 180px;
  width: 100%;
  background-color: #bf2f38;
  transition: all .5s ease-in-out; }
  @media (min-width: 900px) {
    header {
      margin-bottom: 0;
      padding: 23px;
      padding-bottom: 0;
      height: 60px; } }

.open {
  margin-bottom: 0; }

.catapult-logo {
  width: 155px; }

.hamburger-icon {
  margin-top: -3px;
  width: 35px; }
  @media (min-width: 900px) {
    .hamburger-icon {
      display: none; } }

.hero {
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center center; }
  @media (min-width: 900px) {
    .hero {
      height: 90vh;
      width: 50%;
      float: right; } }

.hero-one {
  background-image: url(../assets/temp-hero.png); }

.hero-two {
  background-image: url(../assets/bsm-new-harvestsnaps.jpg); }

.hero-three {
  background-image: url(../assets/temp-hero.png); }

.carousel {
  position: relative;
  overflow: hidden; }

.story-hide {
  display: none; }

/* CAROUSEL NAVIGATION */
.carousel-nav {
  position: absolute;
  top: 55vh;
  height: 210px;
  overflow: hidden; }

/* BUTTONS: SIZE; INITIAL COLOR */
.nav-button {
  position: relative;
  height: 70px;
  width: 10px; }

.nav-button-one {
  background-color: #6a7e91; }

.nav-button-two {
  background-color: #d77d31; }

.nav-button-three {
  background-color: #662e6b; }

/* HREF: CLICKABLE AREA; HOVER STATES */
.nav-link {
  position: absolute;
  top: 0;
  padding: 35px 5px; }

.nav-link-one:hover {
  background-color: #546474; }

.nav-link-two:hover {
  background-color: #b26423; }

.nav-link-three:hover {
  background-color: #441f47; }

/*# sourceMappingURL=main.css.map */